$color-primary-bg: #f38e82;
$color-secondary-bg: #a36201;
$color-grad-1: #a5cb7d;
$color-grad-2: #456940;
$color-grad-3: #82bb7a;
$color-grad-4: #9dbd7b;

$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text

$gradient: linear-gradient(
  to right bottom,
  $color-primary-bg,
  $color-secondary-bg
);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 56.25%; // ~9px
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 50%; // ~8px
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 43.75%; // ~7px
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 37.5%; // ~6px
  }
}

body {
  display: flex; // Centering div vertically
  justify-content: center; // Centering div vertically
  align-items: center; // Centering div vertically
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.main-container {
  height: auto;
  width: 75vw;
  max-width: 1000px;
  margin: auto;

  @media only screen and (max-width: $bp-medium) {
    width: 90vw;
  }

  @media only screen and (max-width: $bp-small) {
    width: 95vw;
  }
}

.clock-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
  min-height: 20rem;
  margin: 4vw auto;
  padding: 2rem;
  background-color: $color-grad-1;
  border-radius: 20px;
  outline: 20px solid $color-grey-dark-1;
  outline-offset: -5px;
  box-shadow: inset 50px 30px 0px rgba($color-grey-dark-2, 0.5),
    0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.6);

  @media only screen and (max-width: $bp-large) {
    border-radius: 20px;
  }

  @media only screen and (max-width: $bp-medium) {
    border-radius: 20px;
  }

  @media only screen and (max-width: $bp-medium) {
    padding: 1.5rem;
    border-radius: 20px;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    font-size: 37.5%; // ~6px
  }

  .author {
    color: #d3c7c3;
    font-size: 1rem;
    position: absolute;
    bottom: -15px;
  }

  .foot1,
  .foot2 {
    position: absolute;
    bottom: -45px;
    width: 100px;
    height: 50px;
    border-radius: 9px;
    background-color: $color-grey-dark-1;
    box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.6);

    @media only screen and (max-width: $bp-medium) {
      width: 80px;
      height: 40px;
      bottom: -40px;
    }

    @media only screen and (max-width: $bp-small) {
      width: 60px;
      height: 30px;
      bottom: -40px;
    }
  }

  .foot1 {
    left: 30%;
  }

  .foot2 {
    right: 30%;
  }

  .mouse {
    margin-left: 4rem;

    // filter: hue-rotate(200) saturate(5) brightness(0.8);
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    svg {
      cursor: pointer;
      stroke: $color-grey-dark-1;
      fill: $color-grey-dark-2;
      filter: hue-rotate(200) saturate(5) brightness(0.8);
      width: 6rem;
      height: auto;
    }

    @media only screen and (max-width: $bp-medium) {
      width: 6rem;
    }

    @media only screen and (max-width: $bp-small) {
      width: 5rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      width: 6rem;
    }

    &.hidden {
      display: none;
    }
  }

  #toggle-format {
    cursor: pointer;
    border-radius: 9px;
    padding-top: 5px;
    width: 100px;
    height: 35px;
    position: absolute;
    top: -40px;
    left: 40%;
    text-align: center;
    background-color: $color-grey-dark-1;
    box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.6);

    @media only screen and (max-width: $bp-medium) {
      width: 80px;
      height: 30px;
      left: 20%;
    }

    @media only screen and (max-width: $bp-small) {
      width: 70px;
      height: 25px;
      top: -30px;
      left: 15%;
    }

    &:focus,
    &:active {
      -webkit-tap-highlight-color: transparent;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transform: translateY(2px);
    }

    .toggle-format-text {
      font-size: 1.5rem;
      color: $color-grey-light-3;
    }
  }

  #time {
    font-size: 12rem;
    color: $color-grad-2;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media only screen and (max-width: $bp-large) {
      font-size: 20rem;
    }

    @media only screen and (max-width: $bp-medium) {
      margin-top: 15px;
      font-size: 17rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin-top: 15px;
      font-size: 14rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-top: 15px;
      font-size: 13rem;
    }
  }
}
